* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }

ol, 
ul, 
menu {
    list-style:none;
}

a {
    text-decoration:none;
    color:inherit;
}

html, 
body {
    scroll-behavior:smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style:normal;
    font-weight:400;
}

.header{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    position:relative;
    color:#FFF;
    z-index:1;
}

.header:before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0, 68, 255, 0.493);
    z-index:-1;
} 

.container {
    max-width:1200px;
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-top:75px;
}

.nav__list {
    display:flex;
    gap:15px;
}

.nav__link:hover{
    color:yellow;
}

.header__inner {
    display:flex;
    max-width:640px;
    width:100%;
    min-height:calc(100vh - 155px);
    align-items:center;
}

.header__title {
    font-weight:400;
    font-size:48px;
}

.header__subtitle{
    font-weight:700;
    font-size:90px;
}

.header__link {
    display:block;
    position:relative;
    text-align:center;
    margin-bottom:60px;
}

.header__link:before{
    content:"";
    position:absolute;
    width:37px;
    height:21px;
    top:50px;
    left:50px;
    transform:translate(-50%, -50%);
    background-image:url(./Arrow.svg);
}